body{
    overflow: visible !important;
}
.g-color-secundario{
    color:#1d8873;
    transition:.2s;
}
.g-color-secundario--hover:hover{
    color:rgba(29, 136, 115,0.8) !important;
}
.g-bg-secundario{
    background: #1d8873;
    transition:.2s;
}
.g-bg-secundario--hover:hover{
    background:rgba(29, 136, 115,0.8) !important;
    border-color:#1d8873;
}
.g-box-shadow-none--hover:hover{
    box-shadow: none;
}
/*Slider*/
#rev_slider_486_1_wrapper {
    background-color: #fff;
    padding: 0;
    margin: 0 auto;
}

/*Footer*/
.map{
    width: 100%;
    height: 350px;
}
.footer-1{
    background: linear-gradient(to right bottom, rgba(160,175,222,1) 0%, rgba(228,245,229,1) 100%);
}
.footer-1 div div{
    color:#131418;

}
.footer-1 a:link{
    color:#131418;
    text-decoration: none;
}
.footer-1 a:hover{
    color:lightslategrey;
}
.g-brd-gray-dark-v1{
    border-color:rgba( 0, 0, 0 ,0.3) !important;
}
.g-bg-twitter, .g-bg-facebook, .g-bg-instagram{
    opacity:0.8;
}
.footer2{
    max-width: 1400px !important;
}
/*Blog*/

.fotos{
    padding: 0;
    margin: 0;
    display:flex !important;
}
.fotos img{
    width: 100%;
}
.fotos a:link{
    text-decoration: none;
    color:black;
}
.fotos a:hover{
    color:darkgreen;
}
.principal{
    position: relative;
    padding: 0;
}
.boxprincipal{
    position: absolute;
    top:50%;
    width: 100%;
    text-align: center;
}
.blog-row{
    padding: 0 15px;
}
.principal div .btn{
    padding: 10px;
    font-size:18px;
}
.principal div .btn:focus{
    background:transparent;
    color:inherit;
}
.redes-principal, .separador-principal{
    display: none;
}

/*Actividades*/

#actividades{
    width: 75%;
}
#actividades .news article{
    background:white;
}
#actividades .news article img{
    border-radius: 0.25rem;
    height: 200px !important;
    object-fit:cover;
    object-position:center;
}
#actividades .news{
    max-width: 500px;
}
/*Navbar*/

nav{
    font-size:16px;
    /*background: linear-gradient(to right bottom, rgba(160,175,222,1) 0%, rgba(228,245,229,1) 100%);*/
}

.topnavbarbox{
    display: flex;
    justify-content: center;
    align-items: center;
}
.topnavbarbox strong, .topnavbarbox a{
    text-decoration: none;
    color:inherit;
}
.navbar{
    padding:0 !important;
}
.navbar .u-main-nav-v5 .nav-link{
    color:#f5f5f5 ;
    padding: 18px 10px;
    border-bottom:0 !important;
}
.navbar .u-main-nav-v5 .nav-item.hs-has-sub-menu > a::after{
    right:5px;
}
.navbar .u-main-nav-v5 a:hover{
    background:rgba(8,71,90,0.2) !important;
}
.navbar .u-sub-menu-v1 .hs-sub-menu, .navbar .u-sub-menu-v1 .hs-mega-menu, .navbar .u-sub-menu-v1 .dropdown-menu{
    border-color:#1d8873;
}
.u-header__section--light .hamburger-inner, .u-header__section--light .hamburger-inner:before, .u-header__section--light .hamburger-inner:after{
    background:white;
}
.g-bg-isleta{
    background:rgba(73, 155, 234,1);
}
#access{
    height: 80px;

}
/*Compartir*/
.copy:hover{
    color:white;
    background: #1d8873;
    border-color:#1d8873;
    cursor:pointer;
}
/*General*/
.shadow-img{
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
/*g-bg-instagram*/
.instagramcolor, .g-bg-instagram--hover-2:hover{
    background:
            radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%),
            radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),

            radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
            radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),

            radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
            radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),

            radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),

            linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
    opacity:.8;
}
#topnavbarfirst, .adr{
    background:#090950;
}
#access a{
    color:inherit;
    text-decoration: none;
}
/*Efecto del topnavbar1*/
#topnavbarfirst .topnavbarbox {
    color: white;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 1s;
}
#topnavbarfirst .topnavbarbox .circle {
    position: absolute;
    width: 60%;
    height: 100%;
    background-color: white;
    transform: translateY(150%);
    border-radius: 50%;
    transition: 0.7s;
    z-index: -1;
    background: linear-gradient(to top, rgba(238,238,238,1) 0%, rgba(246,246,246,1) 90%, rgba(255,255,255,1) 100%);
}

#topnavbarfirst .topnavbarbox:hover {
    color: black;
}

#topnavbarfirst .topnavbarbox:hover .circle {
    transform: translateY(0) scale(2);
}
.navbar .u-sub-menu-v1 .hs-sub-menu .appmovil, .navbar .u-sub-menu-v1 .dropdown-menu .appmovil {
    color: #777;
    text-decoration: none !important;
    display: block;
    padding: 0.42857rem 1.78571rem;

}
.a-android, .a-apple{
    width: 49.1%;
}
.a-android:hover i{
    color:darkgreen;
}
.a-facebook:hover i{
    color:#344e86;
}
#access .col-4:hover{
    color:black;
}
#custom{
    position:static;
}
.sp-container {
    position:static !important;

}
/*Responsive NavBar*/
#navBar.activeshow{
    position: fixed;
    top: 0;
    left:0;
    right:0;
    bottom:0;
    z-index: 999999999;
    margin-top:50px;
    display: block !important;
    overflow-y: scroll;
}
.activeshow ul{
    background: #499bea;
}
.activecontainer{
    position: fixed !important;
    top: 0;
    left:0;
    right:0;
    bottom:0;
    height: 50px;
    background: rgba(0,0,0,0.9);
    z-index: 999999999;
    width: 100vw;
    margin-left:0;
    margin-right:0;
    max-width: 100%;

}
.outscroll{
    overflow: hidden;
}
/*Actividades*/
#s-actividad{
    background:#f4f4f4;
}
/*Footer*/
.footer-contact a{
    color:inherit;
    text-decoration: inherit;
    transition:.2s;
}
.footer-contact a:hover{
    text-decoration: underline;
}
/*Consultas*/
.errores{
    color:darkred;
    display:none;
}
/*Noticias*/
#news .u-divider-linear-gradient--primary{
    background-image: linear-gradient(to right, transparent, #1d8873 , transparent);
    height: 1px;
    border:0;
}
.a-noticias i{
    border:1px solid;
}
.active, .u-pagination-v1__item{
    border-radius:50%;
}
.u-pagination-v1__item{
    border-color:#bbb;
}
.active:hover, .active:focus, .u-pagination-v1__item:hover {
    border-color: #1d8873;
}
.active {
    background-color: #1d8873;
}
.active:hover{
    background-color: rgba(29,136,115,0.8);
}
.active:hover a, .active:focus a{
    color:white;
}
.active a{
    color:white;
    border-color: transparent;
}

#box-logotop{
    display: flex;
    align-items: center;
    justify-content: center;
}
#logotop{
    max-width: 60%;
}
#logotop2{
    max-width: 30%;
}
#navbar-responsive{
    /*height: 190px;*/
}
#box-topnarvbarbox{
    height: 50%;
    background: #eee;
}
#zona-logos{
    box-shadow: 10px 0px 10px -6px rgba(0, 0, 0, 0.3);
    z-index: 99999999;
}
#mainpage{
    padding-top: 240px;
}
.g-color-enlacenavbar{
    color:#5c87b2;
}

.js-fancybox img{
    object-fit: cover;
}
.pagination__item img{
    height: 300px;
    object-fit: cover;
}
.tp-tab-desc{
    width:100%;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}
.actividades-descripcion *, .noticias-descripcion *{
    display: none;
}
.actividades-descripcion> p:first-of-type, .noticias-descripcion> p:first-of-type{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
}
.actividades-descripcion> p:first-of-type{
    -webkit-line-clamp: 3;
}
.noticias-descripcion> p:first-of-type{
    -webkit-line-clamp: 2;
}
.fotoprincipal{
    height: 500px;
    object-fit: cover;
    border-radius: .25rem;
    position: relative;
}
.principal .overlay-f-principal{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    border-radius: .25rem;

}
#logopc{
    width: 400px;
    max-width: 100%;
    overflow: visible;
}
/*Animación del logo IES La Isleta*/
.path-general{
    fill:rgba(255,255,255,1);
    stroke-dasharray: 1800;
    opacity: 10;
    animation: laterales 5s linear;
}
.luces{
    fill:rgba(255,255,255,1);
    stroke-dasharray: 1800;
    opacity: 0;
    animation: laterales 3s 3s linear infinite;
}
@keyframes laterales{
    0%{
        fill:rgba(255,255,255,1);
        opacity: 0;
        stroke-dashoffset: 1800;
    }
    90%{
        opacity: 10;
        fill:rgba(255,255,255,0);
    }
    100%{
        stroke-dashoffset: 1500;
    }
}
@media only screen and (min-width: 1501px) {
    .offset-1-1500{
        margin-left: 8.333333%;
    }
    .col-3-1500{
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }


}
@media only screen and (min-width: 1240px) {
    .s-slider {
        height: 500px;
    }
}
@media only screen and (min-width: 1024px) and (max-width: 1239px) {
    .s-slider {
        height: 450px;
    }
}
@media only screen and (min-width: 993px){
    #navBar li a{
        display: flex;
        align-items: center;
        height: 100%;
    }
    .h-100-992{
        height: 100%;
    }

}
@media only screen and (min-width: 778px) and (max-width: 1023px) {
    .s-slider{
        height: 400px;
    }
}
@media only screen and (min-width: 600px) and (max-width: 1280px) {

    .principal{
        position:static;
        padding: 0 15px;
    }
    .principal div{
        position: static;
        width: auto;
        text-align: left;
    }

    .boxprincipal .btn{
        display: none;
    }

}
@media only screen and (max-width: 1500px) {
    #zona-logos, #zona-contenido{
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    #logosnavbar{
        width: auto !important;
    }
    #box-logotop{
        display: inherit;
        align-items: inherit;
        justify-content: inherit;
    }
    #logotop{
        display: inline-flex !important;
        justify-content: end;
        align-items: center;
    }
    #logotop2{
        display: inline-flex !important;
        justify-content: start;
        align-items: center;
        max-width: 20%;

    }
    #navbar-responsive{
        height: auto;
    }
    #box-topnarvbarbox{
        height: 70px;
    }
    #zona-logos{
        z-index: 1;
    }
    #mainpage{
        padding-top: 285px;
    }

}
@media only screen and (max-width: 1280px) {
    .redes-principal{
        display:block;
    }
    .redes-title, .overlay-f-principal{
        display:none;
    }
}
@media only screen and (max-width: 1200px) {
    #box-navBar{
        max-width: 100% !important;
        padding:0;
    }
    #box-navBar *{
        font-size:14px !important;
    }

}
@media only screen and (max-width: 992px){
    #mainpage{
        padding-top: 275px;
    }
    #rev_slider_486_1_wrapper{
        top:-5px
    }
    #topnavbarfirst .container{
        max-width: 100%;
        padding: 0 40px;
    }
    #topnavbarfirst strong span{
        font-size:11px !important;
    }
}
@media only screen and (max-width: 768px){
    .s-slider {
        height: 375px;
    }
}
@media only screen and (max-width: 600px) {
    .fotos .col-sm-6{
        padding: 0;
        margin: 0;
    }
    .hresponsive{
        margin: 2rem 0 !important;
    }
    .blog .row hr{
        border-top-color:rgba(0,0,0,.1) !important;
    }
    .principal{
        position:static;
        padding: 0 15px;
    }
    .principal div{
        position: static;
        width: auto;
        text-align: left;
    }
    .boxprincipal{
        padding-top:10px;
    }
    .boxprincipal .btn{
        display: none;
    }
    /*.navbar{*/
    /*    padding: 10px 0 60px 0 !important;*/

    /*}*/
    .navbar .u-main-nav-v5 .nav-link{
        padding: 15px 10px;
    }

    #actividades{
        width: 100%;
    }
    #access .topnavbarbox{
        padding: 0;
    }

    #logotop{
        min-width: 175px !important;
    }
    .separador-principal{
        display:block;
    }
    .slick-list{
        max-height: initial !important;
    }
    .s-slider {
        height: 350px;
    }
    #topnavbarfirst .container{
        padding: 0 20px;
    }
}
@media only screen and (max-width: 575px) {
    .boxprincipal ul{
        color:#777 !important;
    }
    .boxprincipal a{
        color:#000 !important;
    }
    .s-slider {
        height: 300px;
    }
    .item-consultas{
        border-right:1px solid;
    }
}
@media only screen and (max-width: 500px) {
    #box-logotop{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #logotop2{
        max-width: 30%;
    }
    .s-slider {
        height: 275px;
    }
    #topnavbarfirst .container{
        padding: 0 10px;
    }

}

@media only screen and (max-width: 360px) {
    #topnavbarfirst strong span{
        font-size:10px !important;
    }

}
