/*General*/
body{
    overflow: visible !important;
}
.g-color-secundario{
    color:#1d8873;
    transition:.2s;
}
.g-color-secundario--hover:hover{
    color:rgba(29, 136, 115,0.8) !important;
}
.g-bg-secundario{
    background: #1d8873;
    transition:.2s;
}
.g-bg-secundario--hover:hover{
    background:rgba(29, 136, 115,0.8) !important;
    border-color:#1d8873;
}
.g-box-shadow-none--hover:hover{
    box-shadow: none;
}
.g-brd-secondary{
    border-color:#090950;
}
.g-bg-secondary{
    background:#090950 !important;
}
.g-bg-thrid{
    background:rgba(73, 155, 234,1) !important;
}
.g-cursor-info{
    cursor: help;
}
.object-fit-cover{
    object-fit: cover;
}
.shadow-img{
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.instagramcolor, .g-bg-instagram--hover-2:hover{
    background:
            radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%),
            radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),

            radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
            radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),

            radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
            radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),

            radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),

            linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
    opacity:.8;
}
/*Colores*/
.g-brd-primary{
    border-color:#1d8873;
}
/*Navbar*/

nav{
    font-size:16px;
    /*background: linear-gradient(to right bottom, rgba(160,175,222,1) 0%, rgba(228,245,229,1) 100%);*/
}
.topnavbarbox{
    display: flex;
    justify-content: center;
    align-items: center;
}
.topnavbarbox strong, .topnavbarbox a{
    text-decoration: none;
    color:inherit;
}
.navbar{
    padding:0 !important;
}
.navbar .u-main-nav-v5 .nav-link{
    color:#f5f5f5 ;
    padding: 18px 10px;
    border-bottom:0 !important;
}
.navbar .u-main-nav-v5 .nav-item.hs-has-sub-menu > a::after{
    right:5px;
}
.navbar .u-main-nav-v5 a:hover{
    background:rgba(8,71,90,0.2) !important;
}
.navbar .u-sub-menu-v1 .hs-sub-menu, .navbar .u-sub-menu-v1 .hs-mega-menu, .navbar .u-sub-menu-v1 .dropdown-menu{
    border-color:#1d8873;
}
.u-header__section--light .hamburger-inner, .u-header__section--light .hamburger-inner:before, .u-header__section--light .hamburger-inner:after{
    background:white;
}
.g-bg-isleta{
    background:rgba(73, 155, 234,1);
}
#access{
    height: 80px;
}

#topnavbarfirst, .adr{
    background:#090950;
}
#access a{
    color:inherit;
    text-decoration: none;
}
/*Efecto del topnavbar1*/
#topnavbarfirst .topnavbarbox {
    color: white;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 1s;
}
#topnavbarfirst .topnavbarbox .circle {
    position: absolute;
    width: 60%;
    height: 100%;
    background-color: white;
    transform: translateY(150%);
    border-radius: 50%;
    transition: 0.7s;
    z-index: -1;
    background: linear-gradient(to top, rgba(238,238,238,1) 0%, rgba(246,246,246,1) 90%, rgba(255,255,255,1) 100%);
}

#topnavbarfirst .topnavbarbox:hover {
    color: black;
}

#topnavbarfirst .topnavbarbox:hover .circle {
    transform: translateY(0) scale(2);
}
.navbar .u-sub-menu-v1 .hs-sub-menu .appmovil, .navbar .u-sub-menu-v1 .dropdown-menu .appmovil {
    color: #777;
    text-decoration: none !important;
    display: block;
    padding: 0.42857rem 1.78571rem;

}
.a-android, .a-apple{
    width: 49.1%;
}
.a-android:hover i{
    color:darkgreen;
}
.a-facebook:hover i{
    color:#344e86;
}
#access .col-4:hover{
    color:black;
}
#custom{
    position:static;
}
.sp-container {
    position:static !important;
}
/*Responsive NavBar*/
#navBar.activeshow{
    position: fixed;
    top: 0;
    left:0;
    right:0;
    bottom:0;
    z-index: 999999999;
    margin-top:50px;
    display: block !important;
    overflow-y: scroll;
}
.activeshow ul{
    background: #499bea;
}
.activecontainer{
    position: fixed !important;
    top: 0;
    left:0;
    right:0;
    bottom:0;
    height: 50px;
    background: rgba(0,0,0,0.9);
    z-index: 999999999;
    width: 100vw;
    margin-left:0;
    margin-right:0;
    max-width: 100%;
}
.outscroll{
    overflow: hidden;
}
/*Slider*/
#rev_slider_486_1_wrapper {
    background-color: #fff;
    padding: 0;
    margin: 0 auto;
}
#rev_slider_486_1_wrapper .tp-tab-desc *{
    display: none;
}
#rev_slider_486_1_wrapper .tp-tab-desc *:first-child{
    display: block;
}
#rev_slider_486_1_wrapper .tp-caption a{
    font-weight: 700;
    color: white;
    text-decoration: underline;
}
#rev_slider_486_1_wrapper .tp-caption img, #rev_slider_486_1_wrapper .tp-caption figure, #rev_slider_486_1_wrapper .tp-caption table, #rev_slider_486_1_wrapper .tp-caption video{
    display: none;
}
#rev_slider_486_1_wrapper .tp-caption a{
    text-decoration: none !important;
}
/*Logo*/
#box-logotop{
    text-decoration: none !important;
}
/*Footer*/
.map{
    width: 100%;
    height: 350px;
}
.footer-1{
    background: linear-gradient(to right bottom, rgba(160,175,222,1) 0%, rgba(228,245,229,1) 100%);
}
.footer-1 div div{
    color:#131418;

}
.footer-1 a:link{
    color:#131418;
    text-decoration: none;
}
.footer-1 a:hover{
    color:lightslategrey;
}
.g-brd-gray-dark-v1{
    border-color:rgba( 0, 0, 0 ,0.3) !important;
}
.g-bg-twitter, .g-bg-facebook, .g-bg-instagram{
    opacity:0.8;
}
.footer2{
    max-width: 1400px !important;
}
.footer-contact a{
    color:inherit;
    text-decoration: inherit;
    transition:.2s;
}
.footer-contact a:hover{
    text-decoration: underline;
}
/*Actividades*/

#actividades{
    width: 75%;
}
#actividades .news article{
    background:white;
    height: 100%;
}
#actividades .news article img{
    border-radius: 0.25rem;
    height: 200px !important;
    object-fit:cover;
    object-position:center;
}
#actividades .news{
    max-width: 500px;
}
#s-actividad{
    background:#f4f4f4;
}
/*Noticias*/
.fotos{
    padding: 0;
    margin: 0;
    display:flex !important;
}
.fotos img{
    width: 100%;
}
.fotos a:link{
    text-decoration: none;
    color:black;
}
.fotos a:hover{
    color:darkgreen;
}
.principal{
    position: relative;
    padding: 0;
}
.boxprincipal{
    position: absolute;
    top:50%;
    width: 100%;
    text-align: center;
}
.blog-row{
    padding: 0 15px;
}
.principal div .btn{
    padding: 10px;
    font-size:18px;
}
.principal div .btn:focus{
    background:transparent;
    color:inherit;
}
.redes-principal, .separador-principal{
    display: none;
}

/*Compartir*/
.copy:hover{
    color:white;
    background: #1d8873;
    border-color:#1d8873;
    cursor:pointer;
}

/*Consultas*/
.errores{
    color:darkred;
    display:none;
}
/*Noticias*/

#news .u-divider-linear-gradient--primary, .u-divider-linear-gradient--primary{
    background-image: linear-gradient(to right, transparent, #1d8873 , transparent);
    height: 1px;
    border:0;
}
.a-noticias i{
    border:1px solid;
}
#blog-noticias .active, .u-pagination-v1__item{
    border-radius:50%;
}
.u-pagination-v1__item{
    border-color:#bbb;
}
#blog-noticias .active:hover, .active:focus, .u-pagination-v1__item:hover {
    border-color: #1d8873;
}
#blog-noticias .active {
    background-color: #1d8873;
}
#blog-noticias .active:hover{
    background-color: rgba(29,136,115,0.8);
}
#blog-noticias .active:hover a, .active:focus a{
    color:white;
}
#blog-noticias .active a{
    color:white;
    border-color: transparent;
}

/*Logos*/
#logotop{
    max-width: 60%;
}
#logotop2{
    max-width: 25%;
}
#navbar-responsive{
    /*height: 190px;*/
}
#box-topnarvbarbox{
    height: calc(100% - 50px);
    background: #eee;
}
.zona-logos{
    box-shadow: 10px 0px 10px -6px rgba(0, 0, 0, 0.3);
    z-index: 9000;
}
#mainpage{
    padding-top: 240px;
}
.g-color-enlacenavbar{
    color:#5c87b2;
}

.js-fancybox img{
    object-fit: cover;
}
.pagination__item img{
    height: 300px;
    object-fit: cover;
}
.tp-tab-desc{
    width:100%;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}
.actividades-descripcion *, .noticias-descripcion *{
    display: none;
}
.actividades-descripcion> p:first-of-type, .noticias-descripcion> p:first-of-type, .js-slide h4 a, #blog-noticias article h2, #blog-noticias .noticias-descripcion> p:first-of-type, .actividades-titulo{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
}

.js-slide h4 a, #blog-noticias .noticias-descripcion> p:first-of-type, .actividades-titulo{
    -webkit-line-clamp: 2;
}
.actividades-descripcion> p:first-of-type{
    -webkit-line-clamp: 3;
}
.noticias-descripcion> p:first-of-type, #blog-noticias article h2{
    -webkit-line-clamp: 1;
}
.fotoprincipal{
    height: 500px;
    object-fit: cover;
    border-radius: .25rem;
    position: relative;
}
.principal .overlay-f-principal{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    background: rgba(0,0,0,0.4);
    border-radius: .25rem;

}
#logopc{
    width: 225px;
    overflow: visible;
    transition: .3s ease;
}
.noactivelogo #logopc{
    transition-delay: .3s;
}
.activelogo #logopc{
    width: 175px;
    overflow: visible;
}

/*Animación del logo IES La Isleta*/
.path-general{
    fill:rgba(255,255,255,1);
    stroke-dasharray: 1800;
    opacity: 10;
    animation: laterales 5s linear;
}
.luces{
    fill:rgba(255,255,255,1);
    stroke-dasharray: 1800;
    opacity: 0;
    animation: laterales 3s 3s linear infinite;
}
.navbar .u-sub-menu-v1 .hs-has-sub-menu .hs-has-sub-menu > a::after {
    right: 5px;
}
.zona-logos-responsive, .logoGobiernoResponsive{
    display: none;
}
/*Equipo Directivo, Tutorias, Libros y Equipo Docente*/
.container-tabla {
    width: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 33px 30px;
}
.tabla {
    background-color: #fff;
    box-shadow: 0 0 20px 0 rgba(0,0,0,.2);
}
.tabla td p{
    margin:0;
}
.tabla table {
    width: 100%;
}

.tabla th, td {
    font-weight: unset;
    text-align: center;
}
/*Equipo Directivo*/
.ver1 .column1 {
    width: 13%;
    padding-left: 40px;
}

.ver1 .column2 {
    width: 33%;
}

.ver1 .column3 {
    width: 10%;
}

.ver1 .column4 {
    width: 29%;
}

.ver1 .column5 {
    width: 15%;
}
/*Equipo Docente*/
.ver2 .column1 {
    width: 15%;
    padding-left: 40px;
}

.ver2 .column2 {
    width: 35%;
}

.ver2 .column3 {
    width: 15%;
}

.ver2 .column4 {
    width: 35%;
}
/*Tutorías*/
.ver3 .column1 {
    width: 10%;
    padding-left: 20px;
}

.ver3 .column2 {
    width: 10%;
}

.ver3 .column3 {
    width: 25%;
}

.ver3 .column4 {
    width: 10%;
}
.ver3 .column5 {
    width: 25%;
}
.ver3 .column6 {
    width: 20%;
}
.tabla-head th {
    padding-top: 18px;
    padding-bottom: 18px;
}

.tabla-body td {
    padding-top: 16px;
    padding-bottom: 16px;
}
.tabla {
    position: relative;
}

.tabla-head {
    width: 100%;
    top: 0;
    left: 0;
}
.tabla {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
}

.tabla th {
    font-family: Lato-Bold;
    font-size: 20px;
    color: #fff;
    line-height: 1.4;
}

.tabla td {
    font-family: Lato-Regular;
    font-size: 18px;
    color: rgba(0,0,0,.8);
    line-height: 1.4;
}

.tabla.ver1 .tabla-body tr:nth-child(even), .tabla.ver2 .tabla-body tr:nth-child(even), .tabla.ver3 .tabla-body tr:nth-child(even) {
    background-color: lightgray;
}
.panel-descarga{
    position: absolute;
    width: 100%;
    height: 35px;
    top:30px;
    font-size: 30px;
    color:#1d8873;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transition:.5s;
}
.panel-descarga li{
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
}
.panel-descarga li *{
    transition: .2s;
}
.objetos-panel{
    border:1px solid #1d8873;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    padding: 7px 10px;
    background: rgba(0,0,0,.05);
    box-shadow: 0 0 20px 0 rgba(0,0,0,.2);
}
/*Efectos de la tabla*/
tr.body *, tr.body{
    transition: .5s;
}
#mainpage:hover .panel-descarga{
    top:-30px;
}
.ver2 tbody .gris{
    background: #f8f6ff;
}
.ver2 tbody .blanco{
    background: white;
}
.cs-skin-underline > span {
    border-color:#1d8873;
}
.cs-skin-underline > span::after {
    color:#1d8873;
}
.cs-skin-underline .cs-options, .cs-active .cs-options{
    background: white;
}
.cs-active .cs-options, .cs-options ul li:first-child{
    box-shadow: 0 0 20px 0 rgba(0,0,0,.2);
}
.cs-options{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.cs-options ul li{
    display: inline-block;
    width: 50%;
    text-align: center;
}
.cs-options ul li span{
    transition: .2s;
}
.cs-options ul li:hover span{
    background: rgba(29,136,115,0.8) !important;
    color:white !important;
}
.cs-skin-underline ul span::before {
    display: none;
}
.cs-options ul li:first-child{
    width: 100%;
    border-bottom:2px solid #1d8873;
    display: none;
}
@keyframes laterales{
    0%{
        fill:rgba(255,255,255,1);
        opacity: 0;
        stroke-dashoffset: 1800;
    }
    90%{
        opacity: 10;
        fill:rgba(255,255,255,0);
    }
    100%{
        stroke-dashoffset: 1500;
    }
}
/*Calendario Escolar*/
.fecha{
    width: 15%;
    text-align: left;
    padding-left: 15px !important;

}
.evento{
    width: 85%;
    text-align: left;
}
/*CSS del calendario*/
.months-container{
    display: flex !important;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
}
.col-calendario{
    width: 30%;
    float:left;
    position: relative;
    min-height: 1px;
}
.calendar2019 .months-container .month-container:nth-child(1),
.calendar2019 .months-container .month-container:nth-child(2),
.calendar2019 .months-container .month-container:nth-child(3),
.calendar2019 .months-container .month-container:nth-child(4),
.calendar2019 .months-container .month-container:nth-child(5),
.calendar2019 .months-container .month-container:nth-child(6),
.calendar2019 .months-container .month-container:nth-child(7),
.calendar2019 .months-container .month-container:nth-child(8),
.calendar2019 .months-container .month-container:nth-child(19),
.calendar2019 .months-container .month-container:nth-child(20),
.calendar2019 .months-container .month-container:nth-child(21),
.calendar2019 .months-container .month-container:nth-child(22),
.calendar2019 .months-container .month-container:nth-child(23),
.calendar2019 .months-container .month-container:nth-child(24)
{
    display: none;
}
.calendar2, .calendar-header{
    display: none;
}
.calendar .month-container{
    height: 350px;
    padding: 10px;
    border:1px solid rgba(29, 136, 115,0.4);
    border-radius: 1rem;
    margin: 10px;
    box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.2);
}
.calendar table.month tr td .day-content{
    padding: 10px 12px;
}
.calendar table td, .calendar table th{
    font-size: 16px;
}
.month tr td:nth-child(6), .month tr td:nth-child(7){
    background: lightcoral;
    color: #555;
}
.month tr td:nth-child(6).disabled, .month tr td:nth-child(7).disabled{
    background: transparent;
}
.calendar .calendar-header table th:hover {
    background: transparent;
    cursor: initial;
}
.dia-activo{
    background: rgba(9, 9, 80,0.9) !important;
    border: 1px solid black;
    color: white;
}
.leyenda{
    display: flex;
}
.leyenda .cajacubo{
    text-align: center;
}
.cajacubo{
    font-size: 14px;
    padding:0 20px;
}
.cubo{
    width: 30px;
    height: 30px;
    border-radius: .25rem;
    box-shadow: 0 0 20px 0 rgba(0,0,0,.2);
    margin: 0 auto;
}
.festivo{
    background: lightcoral;
    border: 1px solid darkred;
}
.dia-actual{
    background: rgba(9, 9, 80,0.9);
    border:1px solid black;
}
.libre{
    background: lightblue;
    border: 1px solid royalblue;
}
.padres{
    color:red;
    font-weight: bold;
}
.singular{
    background: lightgreen;
    border: 1px solid darkgreen;
}
.evaluacion{
    background: #e4ccb8;
    border: 1px solid burlywood;
}
.year-title{
    display:none;
}
.MegaMenuDepartamentos{
    min-width: 200px;
    max-width: 100%
}
.MegaMenuDepartamentos ul{
    padding: 0.71429rem 0;
}
.MegaMenuDepartamentos ul li a {
    color: #777 !important;
    padding: 0.42857rem 1.78571rem !important;
    width: 100%;
    font-size: 0.92857rem;
}
.a-link:hover{
    text-decoration: none;
}
.hs-mega-menu ul{
    background: white !important;
}
/*Presentación*/
.PresentacionCarousel .js-slide img{
    height: 400px;
    object-fit: cover;
    width: 100%;
}

.PresentacionCarousel .u-arrow-v1{
    transition: .2s;
}
.PresentacionCarousel .u-arrow-v1:hover{
    background: #1d8873 !important;
    color:white
}
.PresentacionCarousel .js-prev{
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
}
.PresentacionCarousel .js-next{
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}
/*Calendario*/
.js-tabs-mobile-control{
    border-color:#1d8873;
}
.hs-has-sub-menu > a::after, .nav-item.hs-has-mega-menu > a::after {
    font-size: 10px !important;
}
/*Recursos*/
.cartaDescarga{
    padding: 10px;
    border: 1px solid #1d8873;
    border-radius: 10px;
    box-shadow: 0 10px 30px 0 rgba(50, 50, 50, 0.16);
    text-decoration: inherit !important;
}
.cartaDescarga .u-icon-v2{
    border-color: #1d8873;
}
.cartaDescarga .u-icon-v2 i{
    color: #333;
}
.cs-options ul{
    display:flex;
}
.listaDescarga{
    color: inherit;
    text-decoration: inherit !important;
}
/*Cita previa*/
.cuboDesactivado::after{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.8);
    z-index: 9;
}
.cuboDesactivado::before{
    content: '¡Este servicio aún no esta disponible!';
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 40px;
    z-index: 10;
    width: 100%;
    text-align: center;
}
.selectCita{
    width: 100%;
    margin-bottom: 20px;
}
.selectCita.chosen-container-single .chosen-drop{
    border-color: #1d8873;
    font-size: 18px;
}
.selectCita.chosen-container-single .chosen-drop ul{
    padding: 0;
}
.selectCita.chosen-container-single .chosen-drop ul li{
    margin:10px 0;
}
.selectCita.chosen-container-single .chosen-drop ul li:hover, .selectCita.chosen-container-single .chosen-drop ul li.highlighted{
    background:rgba(29, 136, 115,.2);
    color: rgba(0,0,0,.87);
}
.selectCita.chosen-container-single a, select.selectCita{
    border: 1px solid #ddd;
    padding: 10px;
    display: block;
    font-size: 20px;
    background: none !important;
    height:auto;
    box-shadow: 0 0 5px #ddd;
}
.selectCita.chosen-container-active a.chosen-single{
    border-color: #1d8873 !important;
}
.selectCita.chosen-container-single a.chosen-single div{
    display:none;
}
.ui-widget.ui-widget-content{
    border: none !important;
}
.ui-datepicker-header{
    display: flex;
    padding: 0 !important;
}
.ui-datepicker .ui-datepicker-prev{
    order: 1;
}
.ui-datepicker-title{
    order: 2;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ui-datepicker .ui-datepicker-next{
    order: 3;
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    line-height: 50px;
    position: relative;
    top: inherit;
    left: inherit;
    right: inherit;
}
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span{
    position: static;
    margin: 0;
}
.horas{
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    padding: 10px;
}
.horas span{
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: .25rem;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px #ddd;
    transition:.15s ease-in-out;
    cursor: pointer;
}
.horas span:hover{
    border-color: #1d8873;
}
/*Redes y Proyectos*/
.cuboRedesProyectos{
    padding: 20px;
    border: 1px solid #1d8873;
    border-radius: .25rem;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14),0 1px 10px 0 rgba(0,0,0,0.12),0 2px 4px -1px rgba(0,0,0,0.3);
}
#juntaDelegados ul{
    padding-left: 0;
    list-style: none;
}
#juntaDelegados ul li{
}
.listaEditable li::before, #juntaDelegados ul li::before{
    content:"\e080";
    font-family: 'simple-line-icons';
    display: inline-block;
    align-items: center;
    margin-right: 1rem;
    color: #1d8873;
}

@media only screen and (max-width: 1600px) and (min-width: 1200px){
    #actividades{
        width: 100%;
    }
}
@media only screen and (min-width: 1501px) {
    .offset-1-1500{
        margin-left: 8.333333%;
    }
    .col-3-1500{
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }


}
@media only screen and (max-width: 1500px) and (min-width: 992px) {
    .col-3-1500-max{
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
    #box-topnarvbarbox{
        justify-content: space-around;
    }
    .logoGobiernoResponsive{
        display: flex;
        box-shadow: 10px 0px 10px -6px rgba(0, 0, 0, 0.3);
        margin-left:-30px;
    }
    #logotop2{
        display: none;
    }
    #topnavbarfirst{
        border-bottom-left-radius: .75rem;
        transition: .2s;
    }

    .zona-logos {
        box-shadow: none;
    }
    #topnavbarfirst:hover{
        box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
    }
}
@media only screen and (max-width: 1250px) and (min-width: 992px) {
    #box-topnarvbarbox .topnavbarbox span, #topnavbarfirst .topnavbarbox span{
        font-size:12px !important;
    }
    #topnavbarfirst .topnavbarbox .g-pa-10--lg{
        padding: 0 !important;
    }
    #box-topnarvbarbox .topnavbarbox{
        padding: 0 !important;
    }
    .pincelekade-enlaces a{
        margin-right: 10px;
        margin-left: 10px;
    }
}

@media only screen and (min-width: 1240px) {
    .s-slider {
        height: 500px;
    }
}
@media only screen and (min-width: 992px) {
    .js-slide img{
        height: 165px;
        object-fit: cover;
    }
}
@media only screen and (min-width: 1200px) {
    .g-order-1--xl{
        order:1;
    }
    .g-order-2--xl{
        order:2;
    }
}
@media only screen and (min-width: 1024px) and (max-width: 1239px) {
    .s-slider {
        height: 450px;
    }
}
@media only screen and (min-width: 993px){
    #navBar li a, #navBar .hs-sub-menu li a{
        display: flex;
        align-items: center;
        height: 100%;

    }
    #navBar .hs-sub-menu li a{
        color: #777;
        padding: 0.42857rem 1.78571rem;
    }
    .h-100-992{
        height: 100%;
    }

}
@media only screen and (min-width: 778px) and (max-width: 1023px) {
    .s-slider{
        height: 400px;
    }
}
@media only screen and (min-width: 600px) and (max-width: 1280px) {

    .principal{
        position:static;
        padding: 0 15px;
    }
    .principal div{
        position: static;
        width: auto;
        text-align: left;
    }

    .boxprincipal .btn{
        display: none;
    }

}
@media only screen and (max-width: 1700px) {
    .col-calendario {
        width: 45%;
    }
}
@media only screen and (max-width: 1500px) {
    #zona-contenido #topnavbarfirst .container-fluid .row{
        justify-content: inherit !important;
    }
    #navbar-responsive{
        height: auto;
    }
    #box-topnarvbarbox{
        height: calc(100% - 50px);
    }
    .zona-logos{
        z-index: 1;
    }
    #mainpage{
        padding-top: 285px;
    }

}
@media only screen and (max-width: 1280px) {
    .redes-principal{
        display:block;
    }
    .redes-title, .overlay-f-principal{
        display:none;
    }
    .boxprincipal ul{
        color:#777 !important;
    }
    .boxprincipal a{
        color:#000 !important;
    }
}
@media only screen and (max-width: 1200px) {
    #box-navBar{
        max-width: 100% !important;
        padding:0;
    }


}
@media only screen and (max-width: 992px){
    .zona-logos-responsive{
        display: block;
    }
    .zona-logo-pc{
        display: none;
    }
    .zona-logos, #zona-contenido{
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    #logosnavbar{
        width: auto !important;
    }
    #box-logotop{
        display: inherit;
        align-items: inherit;
        justify-content: inherit;
    }
    #logotop{
        display: inline-flex !important;
        justify-content: end;
        align-items: center;
    }
    #logotop2{
        display: inline-flex !important;
        justify-content: start;
        align-items: center;
        max-width: 20%;
    }
    #box-topnarvbarbox{
        height: 70px;
    }
    #mainpage{
        padding-top: 275px;
    }
    #rev_slider_486_1_wrapper{
        top:-5px
    }
    #topnavbarfirst .container{
        max-width: 100%;
        padding: 0 40px;
    }
    #topnavbarfirst strong span{
        font-size:11px !important;
    }
    .activelogo{
        margin-top:51px;
        box-shadow: none;
        padding: 10px 0;
    }
    #topnavbarfirst{
        display: none;
    }
    .js-slide img{
        height: 250px;
        object-fit: cover;
    }
    .fotoprincipal{
        height:350px;
        width: 100%;
    }
}
@media only screen and (max-width: 800px){
    .month-container{
        width: auto;
    }
}
@media only screen and (max-width: 768px){
    .leyenda .cajacubo{
        margin: 15px 0 ;
    }
    .s-slider {
        height: 375px;
    }

    .tabla table, .columnas{
        width: 100% !important;
        padding-left: 0 !important;
    }

    .tabla td {
        font-size: 18px;
    }
    .tabla-head {
        height: 60px;
        background: #1d8873;
    }
    /* Force table to not be like tables anymore */
    .tabla table, .tabla thead, .tabla tbody, .tabla th, .tabla td, .tabla tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    .tabla thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .tabla tr { border: 1px solid rgba(0,0,0,0.1); }

    .tabla td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    .tabla td:before {
        width: 48%;
        height: 100%;
        white-space: nowrap;
        display: inline-block;
        /* Label the data */
        content: attr(data-column);
        color: #000;
        font-weight: bold;
    }
    .tabla td p{
        display: inline-block;
        width: 50%;
    }
    .panel-descarga{
        justify-content: center;
    }
}
@media only screen and (max-width: 600px) {
    .fotos .col-sm-6{
        padding: 0;
        margin: 0;
    }
    .hresponsive{
        margin: 2rem 0 !important;
    }
    .blog .row hr{
        border-top-color:rgba(0,0,0,.1) !important;
    }
    .principal{
        position:static;
        padding: 0 15px;
    }
    .principal div{
        position: static;
        width: auto;
        text-align: left;
    }
    .boxprincipal{
        padding-top:10px;
    }
    .boxprincipal .btn{
        display: none;
    }
    /*.navbar{*/
    /*    padding: 10px 0 60px 0 !important;*/

    /*}*/
    .navbar .u-main-nav-v5 .nav-link{
        padding: 15px 10px;
    }

    #actividades{
        width: 100%;
    }
    #access .topnavbarbox{
        padding: 0;
    }

    #logotop{
        min-width: 175px !important;
    }
    .separador-principal{
        display:block;
    }
    .slick-list{
        max-height: initial !important;
    }
    .s-slider {
        height: 350px;
    }
    #topnavbarfirst .container{
        padding: 0 20px;
    }

}
@media only screen and (max-width: 575px) {

    .s-slider {
        height: 300px;
    }
    .item-consultas{
        border-right:1px solid;
    }
}

@media only screen and (max-width: 500px) {
    #box-logotop{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #logotop2{
        max-width: 30%;
    }
    .s-slider {
        height: 275px;
    }
    #topnavbarfirst .container{
        padding: 0 10px;
    }
    .pincelekade-enlaces{
        display: initial !important;
    }
    .pincelekade-enlaces a{
        margin-top: 10px;
        display: block;
    }
    .CajaArchivosCalendario{
        display: block !important;
    }
    .CajaArchivosCalendario a{
        display: block;
    }
    .CajaArchivosCalendario a{
        margin-bottom: 15px;
    }
}
@media only screen and (max-width: 450px) {
    .caja-texto{
        display: block !important;
    }
    .caja-texto label{
        width: 100%;
        margin-top: 10px !important;
        margin-bottom: 20px !important;
    }
    #calendarioEscolar.container-fluid{
        padding:0 !important;
    }
    #calendarioEscolar .card{
        border-radius: 0 !important;
    }
    .PresentacionCarousel .js-slide img{
        height: 300px;
    }
}
@media only screen and (max-width: 380px) {
    #topnavbarfirst strong span{
        font-size:10px !important;
    }

}

/**************************************** ADMIN ********************************************/
/*Colores*/
.g-color-black--opacity_8{
    color:rgba(0,0,0,.8);
}
.g-bg-white{
    background: white;
}
.g-color-white--opacity_9{
    color:rgba(255,255,255,.9);
}
#admin .sidebar{
    padding: 0;
}
#admin aside.main-sidebar{
    min-height: auto !important;
}
#admin .sidebar nav::-webkit-scrollbar-thumb {
    background: #cdcdcd;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}
#admin .sidebar nav::-webkit-scrollbar {
    height: 12px;
    width: 5px;
    background: #f0f0f0;
    border-radius: .25rem;
}
#admin .sidebar nav{
    max-height: 650px;
    overflow-y: auto;
    scrollbar-width:thin;
}
.nav-sidebar{
    position: initial;
}
#admin .nav-sidebar > li{
    padding: 0 10px;
}
#admin .nav-sidebar > li:last-child{
    padding: 0;
    background: #427787;
    position: absolute;
    bottom: 0;
    height: 125px;
    width: 100%;
}
#admin .nav-sidebar > li:last-child a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#efecto-salir{
    position: absolute;
    top: -15px;
    height: 50px;
    transform: rotate(180deg);
}
#admin nav.main-header{
    background: #427787 !important;
}
#admin .content-wrapper .content > .row:first-child{
    text-align: center;
}

#admin .content-wrapper .content > .row > div > a{
    font-size: 35px;
    background: #1d8873;
    border-color:#1d8873;
    color:white;
}
#admin .content-wrapper .content > .row > div > a:hover{
    background: white;
    color:#1d8873;
}
#admin .content-wrapper .content > .row a:before {
    content: "\f067";
    font-family: "Font Awesome 5 Free";
    font-weight:900;
    margin-right: 10px;
}
#admin nav.main-header .navbar-nav .nav-link {
    color:white;
}
.dataTables_length, .dt-buttons, .dataTables_filter{
    height: 50px;
    display: flex;
    align-items: center;
}
.dt-buttons a.btn{
    border-radius: .25rem;
    box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.2);
    transition: .2s;
}
.dt-buttons a.btn:hover{
    box-shadow:none;
}
.dataTables_length, .dataTables_length > label, .dt-buttons, .dataTables_filter, .dataTables_filter > label{
    margin-bottom: 0;
}
#admin aside .has-treeview ul{
    padding-left: 20px;
}
#admin .has-treeview li, #admin .has-treeview a, #admin .has-treeview span, #admin .has-treeview i{
    transition: .2s;
}
#admin aside.main-sidebar .sidebar span{
    font-size: 14px;
}
#admin .has-treeview.menu-open .nav-dropdown-toggle{
    background:#1d8873;
}
#admin .has-treeview.menu-open .active, #admin .nav-item .active{
    background:rgba(0,0,0,.2);
}

#admin .has-treeview.menu-open .nav-dropdown-toggle span, #admin .has-treeview.menu-open .nav-dropdown-toggle i{
    color:white
}
/*General de la lateral*/
#admin aside.main-sidebar .sidebar span, #admin aside.main-sidebar .sidebar i{
    color:rgba(0,0,0,.8);
}
/*Especifico de salir*/
#admin .nav-sidebar > li:last-child span, #admin .nav-sidebar > li:last-child i{
    font-size: 30px;
    color:rgba(255,255,255,.9);
}
#admin aside.main-sidebar{
    overflow-x: hidden;
    background: rgba(255,255,255,1);
}

.cubo-color{
    width: 150px;
    border:1px solid rgba(0,0,0,.2);
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}
.cubo-top{
    height: 100px;
    box-shadow: 0 10px 6px 0px rgba(0, 0, 0, 0.2);
    transition: .2s;
}
.cubo-bot{
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
    color:rgba(50,50,50,1);
}
.caja-colores .col-2{
    margin-bottom: 20px;
}
.caja-colores .col-2:hover .cubo-top{
    opacity: .5;
    cursor: pointer;
}
/*Panel previo del color*/
#preview-color{
    background-color: white;
    width: 300px;
    border-radius: 0.25rem;
    border: 1px solid
    rgba(0, 0, 0, 0.1);
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 20px 0;
    padding: 5px;
    text-align: center;
    height: 100%;
    display: grid;
    justify-content: center;
}
#preview-color span{
    padding: 10px;
    display: flex;
    align-items: center;
    font-size: 20px;
}
#preview-color .oscuro{
    color:black;
}
#preview-color .normal{
    color:lightgrey;
}
#preview-color .claro{
    color:white;
}
/*Botón de elegir color*/
.panel, .caja-boton-color , .caja-preview-color{
    display: flex;
    align-items: center;
    justify-content: center;

}
#bgcolor-button{
    background: white !important;
    color:rgba(50,50,50,1) !important;
    border: 1px solid #1d8873;
    padding: 20px;
    font-size: 22px;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 20px 0;
    cursor: pointer;

}
/*Tabla de ajuste*/
.tabla-color{
    border: 1px solid rgba(0,0,0,.2);
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 20px 0;
    border-radius: .25rem;
}
.tabla-color caption{
    caption-side:top;
    text-align: center;
    color:black;
}
.tabla-color th, .tabla-color td{
    padding: 15px;
}
.tabla-color input{
    padding: 5px;
    border-radius: .25rem;
    border: 1px solid rgba(0,0,0,.2);
}
/*Titulo*/
.g-height-20 {
    height: 20px !important;
}
.g-brd-primary {
    border-color: #1d8873;
}
.titulo-color {
    position: relative;
    display: inline-block;
}
.text-center .titulo-color::before {
    left: -3.92857rem;
}
.titulo-color::after {
    right: -3.92857rem;
}
.titulo-color::after, .text-center .titulo-color::before, .text-right .titulo-color::before {
    content: "";
    position: absolute;
    top: 52%;
    display: inline-block;
    width: 2.85714rem;
    border-top-width: 1px;
    border-top-style: solid;
    border-color: inherit;
}
.fa-paint-brush{
    color:#1d8873;
}
@media only screen and (max-height:900px) and (min-height: 851px){
    #admin .sidebar nav{
        max-height: 600px;
    }
}
@media only screen and (max-height:850px) and (min-height: 801px){
    #admin .sidebar nav{
        max-height: 550px;
    }
}
@media only screen and (max-height:800px) and (min-height: 701px){
    #admin .sidebar nav{
        max-height: 500px;
    }
}
@media only screen and (max-height:700px){
    #admin .sidebar nav{
        max-height: 400px;
    }
}
