/*General*/
body{
    overflow: visible !important;
}
.g-color-secundario{
    color:#1d8873;
    transition:.2s;
}
.g-color-secundario--hover:hover{
    color:rgba(29, 136, 115,0.8) !important;
}
.g-bg-secundario{
    background: #1d8873;
    transition:.2s;
}
.g-bg-secundario--hover:hover{
    background:rgba(29, 136, 115,0.8) !important;
    border-color:#1d8873;
}
.g-box-shadow-none--hover:hover{
    box-shadow: none;
}
.shadow-img{
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.instagramcolor, .g-bg-instagram--hover-2:hover{
    background:
            radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%),
            radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),

            radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
            radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),

            radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
            radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),

            radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),

            linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
    opacity:.8;
}
/*Navbar*/

nav{
    font-size:16px;
    /*background: linear-gradient(to right bottom, rgba(160,175,222,1) 0%, rgba(228,245,229,1) 100%);*/
}
.topnavbarbox{
    display: flex;
    justify-content: center;
    align-items: center;
}
.topnavbarbox strong, .topnavbarbox a{
    text-decoration: none;
    color:inherit;
}
.navbar{
    padding:0 !important;
}
.navbar .u-main-nav-v5 .nav-link{
    color:#f5f5f5 ;
    padding: 18px 10px;
    border-bottom:0 !important;
}
.navbar .u-main-nav-v5 .nav-item.hs-has-sub-menu > a::after{
    right:5px;
}
.navbar .u-main-nav-v5 a:hover{
    background:rgba(8,71,90,0.2) !important;
}
.navbar .u-sub-menu-v1 .hs-sub-menu, .navbar .u-sub-menu-v1 .hs-mega-menu, .navbar .u-sub-menu-v1 .dropdown-menu{
    border-color:#1d8873;
}
.u-header__section--light .hamburger-inner, .u-header__section--light .hamburger-inner:before, .u-header__section--light .hamburger-inner:after{
    background:white;
}
.g-bg-isleta{
    background:rgba(73, 155, 234,1);
}
#access{
    height: 80px;
}

#topnavbarfirst, .adr{
    background:#090950;
}
#access a{
    color:inherit;
    text-decoration: none;
}
/*Efecto del topnavbar1*/
#topnavbarfirst .topnavbarbox {
    color: white;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 1s;
}
#topnavbarfirst .topnavbarbox .circle {
    position: absolute;
    width: 60%;
    height: 100%;
    background-color: white;
    transform: translateY(150%);
    border-radius: 50%;
    transition: 0.7s;
    z-index: -1;
    background: linear-gradient(to top, rgba(238,238,238,1) 0%, rgba(246,246,246,1) 90%, rgba(255,255,255,1) 100%);
}

#topnavbarfirst .topnavbarbox:hover {
    color: black;
}

#topnavbarfirst .topnavbarbox:hover .circle {
    transform: translateY(0) scale(2);
}
.navbar .u-sub-menu-v1 .hs-sub-menu .appmovil, .navbar .u-sub-menu-v1 .dropdown-menu .appmovil {
    color: #777;
    text-decoration: none !important;
    display: block;
    padding: 0.42857rem 1.78571rem;

}
.a-android, .a-apple{
    width: 49.1%;
}
.a-android:hover i{
    color:darkgreen;
}
.a-facebook:hover i{
    color:#344e86;
}
#access .col-4:hover{
    color:black;
}
#custom{
    position:static;
}
.sp-container {
    position:static !important;
}
/*Responsive NavBar*/
#navBar.activeshow{
    position: fixed;
    top: 0;
    left:0;
    right:0;
    bottom:0;
    z-index: 999999999;
    margin-top:50px;
    display: block !important;
    overflow-y: scroll;
}
.activeshow ul{
    background: #499bea;
}
.activecontainer{
    position: fixed !important;
    top: 0;
    left:0;
    right:0;
    bottom:0;
    height: 50px;
    background: rgba(0,0,0,0.9);
    z-index: 999999999;
    width: 100vw;
    margin-left:0;
    margin-right:0;
    max-width: 100%;
}
.outscroll{
    overflow: hidden;
}
/*Slider*/
#rev_slider_486_1_wrapper {
    background-color: #fff;
    padding: 0;
    margin: 0 auto;
}

/*Footer*/
.map{
    width: 100%;
    height: 350px;
}
.footer-1{
    background: linear-gradient(to right bottom, rgba(160,175,222,1) 0%, rgba(228,245,229,1) 100%);
}
.footer-1 div div{
    color:#131418;

}
.footer-1 a:link{
    color:#131418;
    text-decoration: none;
}
.footer-1 a:hover{
    color:lightslategrey;
}
.g-brd-gray-dark-v1{
    border-color:rgba( 0, 0, 0 ,0.3) !important;
}
.g-bg-twitter, .g-bg-facebook, .g-bg-instagram{
    opacity:0.8;
}
.footer2{
    max-width: 1400px !important;
}
.footer-contact a{
    color:inherit;
    text-decoration: inherit;
    transition:.2s;
}
.footer-contact a:hover{
    text-decoration: underline;
}
/*Actividades*/

#actividades{
    width: 75%;
}
#actividades .news article{
    background:white;
}
#actividades .news article img{
    border-radius: 0.25rem;
    height: 200px !important;
    object-fit:cover;
    object-position:center;
}
#actividades .news{
    max-width: 500px;
}
#s-actividad{
    background:#f4f4f4;
}
/*Noticias*/
.fotos{
    padding: 0;
    margin: 0;
    display:flex !important;
}
.fotos img{
    width: 100%;
}
.fotos a:link{
    text-decoration: none;
    color:black;
}
.fotos a:hover{
    color:darkgreen;
}
.principal{
    position: relative;
    padding: 0;
}
.boxprincipal{
    position: absolute;
    top:50%;
    width: 100%;
    text-align: center;
}
.blog-row{
    padding: 0 15px;
}
.principal div .btn{
    padding: 10px;
    font-size:18px;
}
.principal div .btn:focus{
    background:transparent;
    color:inherit;
}
.redes-principal, .separador-principal{
    display: none;
}

/*Compartir*/
.copy:hover{
    color:white;
    background: #1d8873;
    border-color:#1d8873;
    cursor:pointer;
}

/*Consultas*/
.errores{
    color:darkred;
    display:none;
}
/*Noticias*/
#news .u-divider-linear-gradient--primary{
    background-image: linear-gradient(to right, transparent, #1d8873 , transparent);
    height: 1px;
    border:0;
}
.a-noticias i{
    border:1px solid;
}
.active, .u-pagination-v1__item{
    border-radius:50%;
}
.u-pagination-v1__item{
    border-color:#bbb;
}
.active:hover, .active:focus, .u-pagination-v1__item:hover {
    border-color: #1d8873;
}
.active {
    background-color: #1d8873;
}
.active:hover{
    background-color: rgba(29,136,115,0.8);
}
.active:hover a, .active:focus a{
    color:white;
}
.active a{
    color:white;
    border-color: transparent;
}

/*Logos*/
#logotop{
    max-width: 60%;
}
#logotop2{
    max-width: 25%;
}
#navbar-responsive{
    /*height: 190px;*/
}
#box-topnarvbarbox{
    height: calc(100% - 50px);
    background: #eee;
}
.zona-logos{
    box-shadow: 10px 0px 10px -6px rgba(0, 0, 0, 0.3);
    z-index: 9000;
}
#mainpage{
    padding-top: 240px;
}
.g-color-enlacenavbar{
    color:#5c87b2;
}

.js-fancybox img{
    object-fit: cover;
}
.pagination__item img{
    height: 300px;
    object-fit: cover;
}
.tp-tab-desc{
    width:100%;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}
.actividades-descripcion *, .noticias-descripcion *{
    display: none;
}
.actividades-descripcion> p:first-of-type, .noticias-descripcion> p:first-of-type, .js-slide h4 a, #blog-noticias article h2, #blog-noticias .noticias-descripcion> p:first-of-type, .actividades-titulo{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
}

.js-slide h4 a, #blog-noticias .noticias-descripcion> p:first-of-type, .actividades-titulo{
    -webkit-line-clamp: 2;
}
.actividades-descripcion> p:first-of-type{
    -webkit-line-clamp: 3;
}
.noticias-descripcion> p:first-of-type, #blog-noticias article h2{
    -webkit-line-clamp: 1;
}
.fotoprincipal{
    height: 500px;
    object-fit: cover;
    border-radius: .25rem;
    position: relative;
}
.principal .overlay-f-principal{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    background: rgba(0,0,0,0.4);
    border-radius: .25rem;

}
#logopc{
    width: 225px;
    overflow: visible;
    transition: .3s ease;
}
.noactivelogo #logopc{
    transition-delay: .3s;
}
.activelogo #logopc{
    width: 175px;
    overflow: visible;
}

/*Animación del logo IES La Isleta*/
.path-general{
    fill:rgba(255,255,255,1);
    stroke-dasharray: 1800;
    opacity: 10;
    animation: laterales 5s linear;
}
.luces{
    fill:rgba(255,255,255,1);
    stroke-dasharray: 1800;
    opacity: 0;
    animation: laterales 3s 3s linear infinite;
}
.navbar .u-sub-menu-v1 .hs-has-sub-menu .hs-has-sub-menu > a::after {
    right: 5px;
}
.zona-logos-responsive, .logoGobiernoResponsive{
    display: none;
}
/*Equipo Directivo, Tutorias, Libros y Equipo Docente*/
.container-tabla {
    width: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 33px 30px;
}
.tabla {
    background-color: #fff;
    border-radius:.25rem;
    box-shadow: 0 0 20px 0 rgba(0,0,0,.2);
}
td p{
    margin:0;
}
table {
    width: 100%;
}

th, td {
    font-weight: unset;
    padding-right: 10px;
    text-align: center;
}
/*Equipo Directivo*/
.ver1 .column1 {
    width: 13%;
    padding-left: 40px;
}

.ver1 .column2 {
    width: 33%;
}

.ver1 .column3 {
    width: 10%;
}

.ver1 .column4 {
    width: 29%;
}

.ver1 .column5 {
    width: 15%;
}
/*Equipo Docente*/
.ver2 .column1 {
    width: 15%;
    padding-left: 40px;
}

.ver2 .column2 {
    width: 35%;
}

.ver2 .column3 {
    width: 15%;
}

.ver2 .column4 {
    width: 35%;
}
/*Tutorías*/
.ver3 .column1 {
    width: 10%;
    padding-left: 20px;
}

.ver3 .column2 {
    width: 10%;
}

.ver3 .column3 {
    width: 25%;
}

.ver3 .column4 {
    width: 10%;
}
.ver3 .column5 {
    width: 25%;
}
.ver3 .column6 {
    width: 20%;
}
.tabla-head th {
    padding-top: 18px;
    padding-bottom: 18px;
}

.tabla-body td {
    padding-top: 16px;
    padding-bottom: 16px;
}
.tabla {
    position: relative;
}

.tabla-head {
    width: 100%;
    top: 0;
    left: 0;
}
.tabla {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
}

.tabla th {
    font-family: Lato-Bold;
    font-size: 20px;
    color: #fff;
    line-height: 1.4;
}

.tabla td {
    font-family: Lato-Regular;
    font-size: 18px;
    color: rgba(0,0,0,.8);
    line-height: 1.4;
}

.tabla.ver1 .tabla-body tr:nth-child(even), .tabla.ver3 .tabla-body tr:nth-child(even) {
    background-color: #f8f6ff;
}
.panel{
    position: absolute;
    width: 100%;
    height: 35px;
    top:30px;
    font-size: 30px;
    color:#1d8873;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transition:.5s;

}
.panel li{
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
}
.panel li *{
    transition: .2s;
}
.objetos-panel{
    border:1px solid #1d8873;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    padding: 7px 10px;
    background: rgba(0,0,0,.05);
    box-shadow: 0 0 20px 0 rgba(0,0,0,.2);
}
/*Efectos de la tabla*/
tr.body *, tr.body{
    transition: .5s;
}
#mainpage:hover .panel{
    top:-30px;
}
.ver2 tbody .gris{
    background: #f8f6ff;
}
.ver2 tbody .blanco{
    background: white;
}
@keyframes laterales{
    0%{
        fill:rgba(255,255,255,1);
        opacity: 0;
        stroke-dashoffset: 1800;
    }
    90%{
        opacity: 10;
        fill:rgba(255,255,255,0);
    }
    100%{
        stroke-dashoffset: 1500;
    }
}
@media only screen and (min-width: 1501px) {
    .offset-1-1500{
        margin-left: 8.333333%;
    }
    .col-3-1500{
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }


}
@media only screen and (max-width: 1500px) and (min-width: 992px) {
    .col-3-1500-max{
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
    #box-topnarvbarbox{
        justify-content: space-around;
    }
    .logoGobiernoResponsive{
        display: flex;
        box-shadow: 10px 0px 10px -6px rgba(0, 0, 0, 0.3);
        margin-left:-30px;
    }
    #logotop2{
        display: none;
    }
    #topnavbarfirst{
        border-bottom-left-radius: .75rem;
        transition: .2s;
    }

    .zona-logos {
        box-shadow: none;
    }
    #topnavbarfirst:hover{
        box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
    }
}
@media only screen and (max-width: 1250px) and (min-width: 992px) {
    #box-topnarvbarbox .topnavbarbox span, #topnavbarfirst .topnavbarbox span{
        font-size:12px !important;
    }
    #topnavbarfirst .topnavbarbox .g-pa-10--lg{
        padding: 0 !important;
    }
    #box-topnarvbarbox .topnavbarbox{
        padding: 0 !important;
    }
}
@media only screen and (min-width: 1240px) {
    .s-slider {
        height: 500px;
    }
}
@media only screen and (min-width: 992px) {
    .js-slide img{
        height: 165px;
        object-fit: cover;
    }
}
@media only screen and (min-width: 1024px) and (max-width: 1239px) {
    .s-slider {
        height: 450px;
    }
}
@media only screen and (min-width: 993px){
    #navBar li a, #navBar .hs-sub-menu li a{
        display: flex;
        align-items: center;
        height: 100%;

    }
    #navBar .hs-sub-menu li a{
        color: #777;
        padding: 0.42857rem 1.78571rem;
    }
    .h-100-992{
        height: 100%;
    }

}
@media only screen and (min-width: 778px) and (max-width: 1023px) {
    .s-slider{
        height: 400px;
    }
}
@media only screen and (min-width: 600px) and (max-width: 1280px) {

    .principal{
        position:static;
        padding: 0 15px;
    }
    .principal div{
        position: static;
        width: auto;
        text-align: left;
    }

    .boxprincipal .btn{
        display: none;
    }

}
@media only screen and (max-width: 1500px) {
    #zona-contenido #topnavbarfirst .container-fluid .row{
        justify-content: inherit !important;
    }
    #navbar-responsive{
        height: auto;
    }
    #box-topnarvbarbox{
        height: calc(100% - 50px);
    }
    .zona-logos{
        z-index: 1;
    }
    #mainpage{
        padding-top: 285px;
    }

}
@media only screen and (max-width: 1280px) {
    .redes-principal{
        display:block;
    }
    .redes-title, .overlay-f-principal{
        display:none;
    }
    .boxprincipal ul{
        color:#777 !important;
    }
    .boxprincipal a{
        color:#000 !important;
    }
}
@media only screen and (max-width: 1200px) {
    #box-navBar{
        max-width: 100% !important;
        padding:0;
    }


}
@media only screen and (max-width: 992px){
    .zona-logos-responsive{
        display: block;
    }
    .zona-logo-pc{
        display: none;
    }
    .zona-logos, #zona-contenido{
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    #logosnavbar{
        width: auto !important;
    }
    #box-logotop{
        display: inherit;
        align-items: inherit;
        justify-content: inherit;
    }
    #logotop{
        display: inline-flex !important;
        justify-content: end;
        align-items: center;
    }
    #logotop2{
        display: inline-flex !important;
        justify-content: start;
        align-items: center;
        max-width: 20%;
    }
    #box-topnarvbarbox{
        height: 70px;
    }
    #mainpage{
        padding-top: 275px;
    }
    #rev_slider_486_1_wrapper{
        top:-5px
    }
    #topnavbarfirst .container{
        max-width: 100%;
        padding: 0 40px;
    }
    #topnavbarfirst strong span{
        font-size:11px !important;
    }
    .activelogo{
        margin-top:51px;
        box-shadow: none;
        padding: 10px 0;
    }
    #topnavbarfirst{
        display: none;
    }
    .js-slide img{
        height: 250px;
        object-fit: cover;
    }
    .fotoprincipal{
        height:350px;
        width: 100%;
    }
}
@media only screen and (max-width: 768px){
    .s-slider {
        height: 375px;
    }

    table, .columnas{
        width: 100% !important;
        padding-left: 0 !important;
    }

    .tabla td {
        font-size: 18px;
    }
    .tabla-head {
        height: 60px;
        background: #1d8873;
    }
    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr { border: 1px solid rgba(0,0,0,0.1); }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    td:before {
        width: 48%;
        height: 100%;
        white-space: nowrap;
        display: inline-block;
        /* Label the data */
        content: attr(data-column);
        color: #000;
        font-weight: bold;
    }
    td p{
        display: inline-block;
        width: 50%;
    }
    .panel{
        justify-content: center;
    }
}
@media only screen and (max-width: 600px) {
    .fotos .col-sm-6{
        padding: 0;
        margin: 0;
    }
    .hresponsive{
        margin: 2rem 0 !important;
    }
    .blog .row hr{
        border-top-color:rgba(0,0,0,.1) !important;
    }
    .principal{
        position:static;
        padding: 0 15px;
    }
    .principal div{
        position: static;
        width: auto;
        text-align: left;
    }
    .boxprincipal{
        padding-top:10px;
    }
    .boxprincipal .btn{
        display: none;
    }
    /*.navbar{*/
    /*    padding: 10px 0 60px 0 !important;*/

    /*}*/
    .navbar .u-main-nav-v5 .nav-link{
        padding: 15px 10px;
    }

    #actividades{
        width: 100%;
    }
    #access .topnavbarbox{
        padding: 0;
    }

    #logotop{
        min-width: 175px !important;
    }
    .separador-principal{
        display:block;
    }
    .slick-list{
        max-height: initial !important;
    }
    .s-slider {
        height: 350px;
    }
    #topnavbarfirst .container{
        padding: 0 20px;
    }

}
@media only screen and (max-width: 575px) {

    .s-slider {
        height: 300px;
    }
    .item-consultas{
        border-right:1px solid;
    }
}

@media only screen and (max-width: 500px) {
    #box-logotop{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #logotop2{
        max-width: 30%;
    }
    .s-slider {
        height: 275px;
    }
    #topnavbarfirst .container{
        padding: 0 10px;
    }

}
@media only screen and (max-width: 450px) {
    .caja-texto{
        display: block !important;
    }
    .caja-texto label{
        width: 100%;
        margin-top: 10px !important;
        margin-bottom: 20px !important;
    }
}
@media only screen and (max-width: 380px) {
    #topnavbarfirst strong span{
        font-size:10px !important;
    }

}
